.about-us {
  @include centerer();
  font-size: $fz-middle;
  font-weight: $font-weight-bold;
  line-height: $line-height--middle;
}

.about-us__title {
  @include section-title();
}

.about-us__list {
  @include reset-list();
}

.about-us__item {
  padding-top: 60px;
}

@media (min-width: $tablet-width) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-us__title {
    width: 100%;
  }

  .about-us__list {
    width: 50%;
  }
}
