.page-header {
  color: $black;
}

.page-header__logo {
  padding-top: 21px;
  padding-bottom: 22px;
  border-top: 1px solid $grey--border;
  border-bottom: 1px solid $grey--border;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    border: none;
  }
}
