.page-main__title {
  @include main-title();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 176px;
  margin: 0;
  margin-bottom: 30px;
  padding: 8px;
  text-align: center;
  font-size: $fz-main-title;
  background-color: $grey--lighter;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 100%;
  }
}
