$mobile-width: 320px;

$main-font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$main-font-size: 15px;
$font-size-middle: 17px;


$line-height: $main-font-size * 1.6;
$line-height--big: $main-font-size * 2;

$black: #000000;
$grey: #444444;
$white: #ffffff;
$turquoise: #63d1bb;
